[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/Roblox/luau.git
[submodule "vendor/autocxx"]
	path = vendor/autocxx
	url = https://github.com/google/autocxx.git
	branch = cint_pod
